# QA generation settings
QA_GENERATOR_OPENAI_MODEL=gpt-4o
QA_GENERATOR_OPENAI_API_KEY=

# Annotation settings
ANNOTATOR_OPENAI_MODEL=gpt-4o
ANNOTATOR_OPENAI_API_KEY=

# Filter settings
FILTER_OPENAI_MODEL=gpt-4o-mini
FILTER_OPENAI_API_KEY=

# HuggingFace settings
HF_TOKEN=